/*
  Your use of the content in the files referenced here is subject to the terms of the license at http://aka.ms/fabric-assets-license
*/
.App {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #edebe9;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  max-width: 580px;
  width: 90vw;
  position: relative;
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108); }

.App-header {
  position: relative;
  width: 100%;
  box-sizing: border-box; }

.App-title {
  flex-grow: 0;
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  padding: 20px 28px 0 28px;
  text-align: left;
  font-size: 28px;
  font-weight: 600; }

.App-description {
  flex-grow: 0;
  margin: 0;
  padding: 0 0 20px 20px; }

.App-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 28px; }

.App-pivot {
  display: flex;
  padding: 0 20px; }

.App-createTask {
  display: flex;
  flex-shrink: 0;
  margin: 0 28px 10px; }

.App-createTask-field {
  margin: 0 10px 0 0;
  flex-grow: 1; }
  [dir='rtl'] .App-createTask-field {
    margin: 0 0 0 10px; }

.App-createTask-button {
  flex-shrink: 0; }

.App-taskList {
  overflow: auto;
  flex-grow: 1; }
  .App-taskList .ms-Checkbox {
    margin-bottom: 14px; }

.App-task {
  border: 1px solid #edebe9;
  border-bottom: 0;
  padding: 20px;
  transition: box-shadow .1ms ease; }
  .App-task:last-child {
    border-bottom: 1px solid #edebe9; }
  .App-task:hover {
    cursor: pointer;
    background-color: #faf9f8; }

.App-persona {
  padding-left: 24px;
  padding-bottom: 2px; }

.App-footer {
  flex-grow: 0;
  padding: 20px 28px;
  padding-top: 0; }
