@import '../node_modules/office-ui-fabric-react/dist/sass/_Fabric.Common';
// Import Fluent references
// Demo adding a shadow

$App-sectionPadding: 20px 28px;
$App-border: 1px solid $ms-color-neutralLight;

.App {
  background-color: rgba(255,255,255,0.75);
  border: $App-border;
  box-shadow: 0 0 20px -4px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  max-width: 580px;
  width: 90vw;
}

.App-header {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.App-title {
  border-bottom: 1px solid #eaeaea;
  flex-grow: 0;
  font-size: 42px;
  font-weight: 100;
  margin: 0;
  padding: 20px 28px;
  text-align: center; }

.App-close {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 0px;
  padding-left: 0px;}

.App-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: $App-sectionPadding;
}

.App-createTask {
  display: flex;
  flex-shrink: 0;
  margin-bottom: 8px;
}

.App-createTask-field {
  @include margin(0, 10px, 0, 0);
  flex-grow: 1;
}

.App-createTask-button {
  flex-shrink: 0;
}


.App-taskList {
  overflow: auto;
  flex-grow: 1;

  .ms-Checkbox {
    margin-bottom: 5px;
  }
}

.App-footer {
  border-top: $App-border;
  flex-grow: 0;
  padding: $App-sectionPadding;
}