@import '~office-ui-fabric-core/dist/sass/_References';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: $ms-color-gray10;
  display: flex;
  justify-content: center;
}