/*
  Your use of the content in the files referenced here is subject to the terms of the license at http://aka.ms/fabric-assets-license
*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  align-items: center;
  background-color: #faf9f8;
  display: flex;
  justify-content: center; }
