html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-image: linear-gradient(to top, #b3d6f2 0%, #ffffff 70%);
  display: flex;
  justify-content: center;
}